# Backend
backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/
backend/node_modules/
backend/public/hot
backend/public/storage

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/
.kiro

# General
.DS_Store
Thumbs.db
*.log
